@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Thin.ttf);
}

body{
	background-color: #D9B08C;
	font-family: "Courier New";
}

.leaflet-container{
	padding-top: 0px;
	top: 12%;
	position: absolute;
	left: 5%;
}


#map {
        height: 60%;  /* The height is 400 pixels */
        width: 45%;  /* The width is the width of the web page */
        padding-top: 0px;
		top: 20%;
		position: absolute;
		left: 5%;
}


#lot{
	height: 60%;
	width: 40%;
	top:15%;
	right:5%;
	text-align: center;
	position: absolute;
	border-color: black;
}

.lotName{
	bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	top: 0px;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 3em;
	
}

.pkLot{
	padding-top: 0em;
	margin-top: 0px;
	top:0px;
	width: 100%;
}

svg{
	left: 5%;
	top:65%;
	position: absolute;
	padding-bottom: 2em;
}

.bar{
    fill: steelblue;
    outline-width: 1px;
    outline-color: black;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#info{
	padding-top: 1em;
	top:65%;
	left:50%;
	position: absolute;
}


.Project{
	text-align: center;
	font-size: 3em;	
}

.infoText{
	font-size: 1.5em;
}