{% extends "portfolio/header.html" %}

{% block title %}
 <title>Parking</title>
{% endblock %}

 
{% load static %} 

{% block style %}
<link rel='stylesheet' href= "{% static '/parking/css/parking.css' %}" type='text/css'>
<!-- <link href= "{% static '/portfolio/js/education.js' %}" type='text/css'> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	

	
{% endblock %} 


{% block content %}


<div class="toggle">

	<p class="toggleText">Auto switch parking lots: </p>

	<!-- Rounded switch -->
	<label class="switch">
	  <input type="checkbox" id="togBtn" checked>
	  <span class="slider round"></span>
	</label>

</div>

<div id="map"></div>


<div id="lot">
	{% for lot in parking_lots %}
		<p class="lotName">{{lot.lotName}}</p>
	{% endfor %}

	<!-- Display images of segmented lots -->
	{% for image in images %} 
		<img class="pkLot" src="{% static image %}">
		<!-- <p>'{{image}}'</p> -->
	{% endfor %} 

</div>





  <script>

  		// get the json files served by django 
  		var spaces = {{ parking_spots_json | safe }};
  		var parkingLots = {{ parking_lots_json | safe }};
  		// get the pictures and their titles from html
  		var lotNames = document.getElementsByClassName('lotName');
  		var lotImages = document.getElementsByClassName('pkLot');
  		// initialize map so it can be accessed later on 
  		let map;

		// Initialize and add the map
		function initMap() {
		  // The location of first parking lot
		  var lot = {lat: parseFloat(parkingLots[0].lat), lng: parseFloat(parkingLots[0].long)};
		  
		  var mapOptions = {
		    zoom: 18,
		    center: lot,
		    mapTypeId: 'satellite'
		  };


		  // The map, centered at centered at first parking lot 
		  map = new google.maps.Map(
		      document.getElementById('map'), mapOptions);

		  // add parking spaces to map 
		  for(var i in spaces){
		  	var spotLocation = {lat: parseFloat(spaces[i].lat), lng: parseFloat(spaces[i].long)};
		  	if(spaces[i].occupied){
		  		var spotCircle = new google.maps.Circle({
			      strokeColor: '#FF0000',
			      strokeOpacity: 0.8,
			      strokeWeight: 2,
			      fillColor: '#FF0000',
			      fillOpacity: 0.35,
			      map: map,
			      center: spotLocation,
			      radius: 1
			    });
		  	}
		  	else{
			  	var spotCircle = new google.maps.Circle({
			      strokeColor: '#42f471',
			      strokeOpacity: 0.8,
			      strokeWeight: 2,
			      fillColor: '#42f471',
			      fillOpacity: 0.35,
			      map: map,
			      center: spotLocation,
			      radius: 1
			    });
		  	}
		  }

		  

		  
			  
		}

		// set the first parking lot to visible 
		lotNames[0].style.display = "block";
		lotImages[0].style.display = "block";

		

		var switchStatus = true;
		$("#togBtn").on('change', function() {
		    if ($(this).is(':checked')) {
		        switchStatus = $(this).is(':checked');
		        // alert(switchStatus);// To verify

		    }
		    else {
		       switchStatus = $(this).is(':checked');
		       // alert(switchStatus);// To verify
		    }
		});

		// switch visible parking lot and map focus at set interval
		let num =0;
		setInterval(function(){
			if(switchStatus){
			  	if(num>=parkingLots.length){
			  		lotNames[lotNames.length-1].style.display = "none";
			  		lotImages[lotImages.length-1].style.display = "none";
			  		num =0;
			  	}
			  	
			  	
			  	// pan map to next parking lot
			  	map.panTo({lat: parseFloat(parkingLots[num].lat), lng:parseFloat(parkingLots[num].long)});
			  	if(num>0){
			  		lotNames[num-1].style.display = "none";
			  		lotImages[num-1].style.display = "none";
			  	}
				lotNames[num].style.display = "block";
			  	lotImages[num].style.display = "block";
			  	console.log(num)

			 	num++;
		 	}
		},5000)
	

		// reload the page to get updated parking lot information 
		setInterval(function(){
  			 window.location.reload(1);
		}, 500000);


  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt17_qk9CfGNYeVTiwf6rlF12zW0plqTQ&callback=initMap"
  type="text/javascript"></script>



	<!-- Text about Project -->
	<!-- <p class="Project">Project Information</p> -->
	<div id="info"><p class="Project">Project Information</p><p class="infoText"> This project uses machine learning to detect which parking spaces are being currently occupied. The map in the upper left hand corner is showing M1 Lot on the corner of S. Matlack and E. Campus Dr. This is the parking lot next to the parking garage on Matlack. The red dots show which spots are currently being taken up by cars, conversely we know which parking spots are empty. The image above is the output of the Mask-RCNN neural network that is used to detect and segment the cars.The graph to the left shows how many cars have been in this parking lot throughout today, that this camera can see. The methods used in this project were designed to easily allow other parking lots to be added to it. </p>
	 </div>

 

{% endblock %}

